* {
    margin: 0;
    padding: 0;
}

.div1 {
    width: 50vw;
    height: 50vh;
    background-color: blue;
}

.div2 {
    width: 50vw;
    height: 50vh;
    background-color: red;
    position: relative;
    left: 50vw;
}